# Environnements Python
.venv/
venv/
logs/
mon_env/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.ipynb

# Données et modèles locaux
data/
models/
artifacts/*
!.gitkeep
artifacts/*.joblib
artifacts/*.pkl
*.pkl
*.joblib

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
.idea/

# Metadata de build
*.egg-info/

# Documentation
docs/
